body{
  font-family: 'Roboto', sans-serif;
}

header{
  border-bottom: 1px solid lightgray;
  padding: 0 20px;
  padding-top:20px;
  position:fixed;
  top:0;
  width:100%;
  background-color:white
}

header>a{
  font-size:22px;
}

header a, footer a{
  text-decoration: none;
}

header a{
  font-weight: 500;
}

header a , header a:hover, footer a, footer a:hover{
  color:rgb(112, 107, 107);
}

nav{
  margin-top:20px;
}

nav ul, footer ul {
  padding-inline-start: 0;
  margin-bottom:0;
  display: flex;
  list-style-type: none;
}

nav li{
  margin-right: 35px;
  padding-bottom:10px
}

nav a{
  padding:10px 0
}

main .container{
  margin-top:300px;
  margin-bottom: 50px;
  font-size: 15px;
}

main a{
  text-decoration: none;
}

main p, main h3, main h4{
  margin-bottom: 30px;
}

main ol{
  padding-inline-start: 16px;
}

main ol li p{
  margin-left: 20px;
}

main ol ol{
  list-style-type:lower-latin;
}

section{
  margin: 100px 0;
}


footer{
  background-color: rgb(247, 245, 245);
  padding: 10px;
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a{
  padding-right: 20px;
  font-size: 12px;
}

footer select{
  width: 200px;
}
